# System & IDEs
.DS_Store
.vscode/
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionary.xml
.idea/shelf/
out/

# Rust (pc-client)
**/target/
**/*.rs.bk

# Android & Gradle (android-client)
.gradle/
**/build/
local.properties
.cxx/
*.apk
*.ap_
*.dex
*.class
captures/
