# System & IDEs
.DS_Store
.vscode/
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionary.xml
.idea/shelf/
out/

.vs/
.gemini/

# Rust (pc-client)
pc-client/target/
pc-client/lampyris-linux-x86_64-v1.1.0.tar.gz
pc-client/lampyris-v1.1.0-linux-x86_64
pc-client/lampyris.desktop
pc-client/install.sh
**/*.rs.bk

# Android & Gradle (android-client)
.gradle/
**/build/
local.properties
.cxx/
*.apk
*.ap_
*.dex
*.class
captures/
