[Desktop Entry]
Name=Project-M Client
Comment=Use your phone as a microphone on Linux
Exec=project-m
Icon=audio-input-microphone
Type=Application
Categories=AudioVideo;Audio;
Terminal=false
